<% provide(:title, "ヘルプ") %>
<div class="page-header">
  <h1><%= yield(:title) %></h1>
</div>

<h2>データセットを追加するには？</h2>
<ol>
  <li><%= link_to "データセットの作り方", how_to_create_datasets_path %>を見てデータセットを作る。</li>
  <li>画面上部の[データセット]をクリック</li>
  <li><%= link_to "[データセットの登録]", new_dataset_path %>をクリック</li>
  <li>「データセットの名前」「登録者」「説明」を記入し、CSVファイルを指定し、[データセットを登録]</li>
 </ol>

<h2>グラフを見るには？</h2>
<ol>
  <li>グラフで見たいデータセットを<%= link_to "データセット一覧", datasets_path %>から探して「データの表示」をクリック</li>
  <li>「グラフで表示」の中からグラフの種類を選ぶ</li>
</ol>

<h2>データを比較するには？</h2>
<ol>
  <li>画面上部の<%= link_to "[2つのデータセットを比較]", compare_datasets_path %>クリック</li>
  <li>「データセット(左)」と「データセット(右)」を選ぶと、地図上に棒グラフが表示される。<br>棒グラフの設定は、「左グラフの設定変更」や「左グラフの設定変更」で変更できる。</li>
  <li>[2つのデータを比較]をクリックすると、散布図や相関係数が表示される。</li>
</ol>
