<% provide(:title, @dataset.name) %>
<div class="page-header">
  <h1>地図上に棒グラフ: <%= yield(:title) %></h1>
</div>
<div id="d3-google-maps-bars-chart">
    <div id="map" style="width:960px;height:500px;"></div>
    <div class="preferences">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#chartPreferences">
          グラフの書式設定
        </button>
        <!-- Modal -->
        <div class="modal fade" id="chartPreferences" tabindex="-1" role="dialog" aria-labelledby="graphPreferencesLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <h4 class="modal-title" id="graphPreferencesLabel">グラフの書式設定</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="data-min" class="control-label">データの最小値</label>
                                <input type="number" class="form-control data-min" id="data-min" name="data-min">
                            </div>
                            <div class="form-group">
                                <label for="data-max" class="control-label">データの最大値</label>
                                <input type="number" class="form-control data-max" id="data-max" name="data-max">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="domain-min" class="control-label">グラフの最小値</label>
                                <input type="number" class="form-control domain-min" id="domain-min" name="domain-min">
                            </div>
                            <div class="form-group">
                                <label for="domain-max" class="control-label">グラフの最大値</label>
                                <input type="number" class="form-control domain-max" id="domain-max" name="domain-max">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="bar-height-max" class="control-label">グラフの棒の長さの最大値</label>
                                <input type="number" class="form-control bar-height-max" id="bar-height-max" name="bar-height-max">
                            </div>
                            <div class="form-group">
                                <label for="bar-color" class="control-label">グラフの棒の色</label>
                                <div class="input-group bar-color">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" class="form-control" id="bar-color" name="bar-color" value="rgba(255, 0, 0, 0.8)">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="save">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveChart">
          グラフを保存
        </button>
        <!-- Modal -->
        <div class="modal fade" id="saveChart" tabindex="-1" role="dialog" aria-labelledby="saveChartLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <%= form_for @chart, html: { class: "form-inline" } do |f| %>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="saveChartLabel">グラフを保存</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                  <%= f.label :name, class: "control-label" %>
                                  <%= f.text_field :name, class: "form-control", placeholder: "総人口(平成XX年)の棒グラフなど" %>
                            </div>
                            <br>
                            <div class="form-group">
                                  <%= f.label :author, class: "control-label" %>
                                  <%= f.text_field :author, class: "form-control", placeholder: "青森太郎など" %>
                            </div>
                            <br>
                            <div class="form-group">
                                  <%= f.label :description, class: "control-label" %>
                                  <%= f.text_area :description, class: "form-control", placeholder: "グラフの説明など" %>
                            </div>
                              <%= f.hidden_field :url, value: request.path_info %>
                              <%= f.hidden_field :options %>
                        </div>
                        <div class="modal-footer">
                                <button class="btn" data-dismiss="modal">閉じる</button>
                                <%= f.submit "グラフを登録", class: "btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
              </div>
        </div>
    </div>
</div>

<%= javascript_include_tag 'd3.min' %>
<%= javascript_include_tag 'bootstrap-colorpicker.min' %>
<%= javascript_include_tag 'draw-D3-GoogleMaps-bars-chart' %>

<script>
$(document).ready(function () {
    'use strict';

    // 取得するJSONのパス名を求める
    var pathname = location.pathname;
    var lastIndex = pathname.lastIndexOf("/");
    var jsonPathname = pathname.substring(0, lastIndex) + ".json";

    $.getJSON(jsonPathname, function (dataset) {
        D3GoogleMapsBarsChart.init("#d3-google-maps-bars-chart", "#map", dataset);
    });
});
</script>
