<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @municipality.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @municipality.name %>
</p>

<%= link_to 'Edit', edit_municipality_path(@municipality) %> |
<%= link_to 'Back', municipalities_path %>
